*~
target
.classpath
.project
.settings
build.properties
*.iml
*.iws
*.ipr
.idea
build
*.class
*.jar
framework/dist
dist
connectors/elasticsearch/test-materials/elasticsearch-1.0.1/
lib
site/fonts
*.war
